.header2 {
    margin-top: 55px;
    background: #563D7C;
}

.header2 li a {
    text-decoration: none;
    color: white;
}

.thumbnail a {
    text-decoration: none;
}

.header2 li a:hover {
    opacity: 0.7;
}

.header2 li {
    display: inline-block;
}

.gal-item {
    overflow: hidden;
    padding: 8px;
}

.gal-item .box {
    height: 100%;
    overflow: hidden;
}

.box img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

#dash
{
    background: white;
    padding: 0px 10px ;
    color: black;
    font-weight: bold;
}

#about p{
    color: #000;
}
#about
{
    margin-top: 1000px;
}
.caption {
    background-color: black;
    width: 150px;
    text-align: center;
    margin: 10px 0 20px;
}

footer {
    background-color: #CFCBCA;
    padding: 20px 0;
    margin-top: 400px;
}

.widget p {
    color: #333;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 1.5;
}
.social-icon a{
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
footer h3 {
    color: #563D7C;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
    display: block;
}

.footer-menu ul li a {
    color: #333;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    opacity: 0.8;
}

span
{
    display: inline-block;
    color: #563D7C;
    margin-left: 10px;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}
p {
    color: azure;
}
img {
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    opacity: 1;
}

img:hover {
    opacity: 0.5;
}

.thumbnail {
    background: #000;
}

.row {
    width: 1200px;
}